.container{
    margin-bottom: 40px;
    
}
.title{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
   margin-bottom: 10px;
   color: #562b98;
}
.input{
    display: block;
    margin: 0 auto;
    width: 330px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #5b2786;
   border-radius: 8px;
   color: #562b98;
   box-shadow: 2px 2px 2px #bb77f294;
}
input::placeholder{
    color:#5b278686;
}